body{
    background-color: antiquewhite;
    font-family: sans-serif;
}

.content {
    border: 3px solid blue;
    width: 150px;
    height: 150px;
    padding: 30x 10px 10px 30px;
    margin: 100px;
}


h1 {
    font-size: 36px;
}

.subheading {
    color: darkgrey;
    font-family: serif;
    font-size: 30px;
}

p {
    font-size: 20px;
}

#lede {
    color:black;
    font-size: 24px;
    font-family: serif;
    font-style: italic;
}
img{
    width: 50%
}